@import "../../sass/variables";

.rmnr-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .rmnr-container button {
//   margin-top: 30px;
// }

.rmnrIntput > form {
  width: 400px;
}

.rmnrIntput {
  display: inline-block;
  //border: 1px solid black;
  text-align: right;
  // border: 5px solid $color-lighter;
  // border-radius: 4px;
  // box-shadow: 2px 2px $color-light;
  // padding: 20px;
}

.rmnr-input {
  width: 100%;
}
