<div class="rmnr-container">
<div class="rmnrIntput">
  <form [formGroup]="rmnrForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="rmnr-input">
      <input formControlName="rmnr" matInput placeholder="Rückmeldenummer" />
      <mat-error *ngIf="rmnrForm.controls['rmnr'].invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button color="primary" align="right" [disabled]="!rmnrForm.valid">
      Anmelden
    </button>
  </form>
</div>
</div>
