/* You can add global styles to this file, and also import other style files */

@import "sass/variables";

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0; // 1
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left; // 3
    background-color: $body-bg; // 2
}

.root {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 40px auto 20px;
    grid-template-columns: 250px 9fr;
}

header {
  background-color: $topbar-bg-color;
  grid-column: 1 / 3;
}


.logo {
  height: 100%;
  position: relative;
}

.logo img {
  height: 35px;
  position: absolute;
  left: 10px;
  top:2px;
}

.logo div {
  font-family: Arial;
  font-weight: bold;
  color: $logo-font-color;
  font-size: 1.6em;
  height: 100%;
  position: absolute;
  left: 140px;
  top: 0;
}

.logo div span{
  font-size: 0.5em;
  font-weight: normal;
}

footer {
  grid-row: 3 / 3;
  grid-column: 1 / 3;
  background-color: $topbar-bg-color;
}
