// BECOM MAIN BLUE //
$becom-dark-blue: #1E6EB4;
// BECOM MAIN BLUE //

$becom-dark-blue-100: #5f9ce7;
$becom-dark-blue-700: #004484;

// BECOM LIGHT BLUE //
$becom-light-blue: #3CAADC;
// BECOM LIGHT BLUE //

$becom-light-blue-100: #79dcff;
$becom-light-blue-700: #007baa;

// BECOM MAIN GRAY //
$becom-dark-gray: #3C3B41;
// BECOM MAIN GRAY //

// BECOM LIGHT GRAY //
$becom-light-gray: #707070;
// BECOM LIGHT GRAY //

// BECOM LIGHTER GRAY //
$becom-lighter-gray: #B2B2B2;
// BECOM LIGHTER GRAY //
