<mat-card class="startup-card">
  <div class="startup">
    <div class="left">
      <div class="title">
        Startseite <span>C23-610-1-</span>
      </div>
      <div class="content">
        <p>
          Arbeitsunterweisungen für Produkgruppe
        </p>
        <p>
          Wichtige Hinweise:</p>
        <ul>
          <li>Blindbestücken</li>
        </ul>

      </div>
    </div>
    <div class="right">
      <div class="title">
        Startseite <span>C23-610-1-</span>
      </div>
      <div class="content">
        Startseite <span>C23-610-1-</span>
      </div>
    </div>
    <div class="info">
      <div class="bfrei">
        BLEIFREILÖTEN
      </div>
    </div>
    <div class="command">
      <button type="button" mat-raised-button color="primary">
        Weiter
      </button>
      <button type="button" mat-raised-button color="secondary">
        Abbrechen
      </button>
    </div>
  </div>



  <!-- <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="startup-title-left">
            <h3>Startseite <span>C23-610-1-</span></h3>
        </div>
        <div class="startup-content-left">

        </div>
      </mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>-->
  <!-- Startseite <span>C23-610-1-</span>





  {{rmnrId}} -->
</mat-card>
